RewriteEngine On
RewriteBase /developerTests/routeSuggestion/


RewriteCond %{REQUEST_URI} !^/(module|module/.*)$ 
# RewriteCond %{REQUEST_URI} !(\.css|\.js|\.png|\.jpg|\.gif|robots\.txt)$ [NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.+)$ index.php?uri=$1 [QSA,L]

AddType  application/x-httpd-php         .php
