:root {
  /* Margins and padding */
  --pd-unit: 4px;
  --pd-1x: calc(var(--pd-unit) * 1);
  --pd-2x: calc(var(--pd-unit) * 2);
  --pd-3x: calc(var(--pd-unit) * 3);
  --pd-4x: calc(var(--pd-unit) * 4);
  --mg-unit: 4px;
  --mg-1x: calc(var(--pd-unit) * 1);
  --mg-2x: calc(var(--pd-unit) * 2);
  --mg-3x: calc(var(--pd-unit) * 3);
  --mg-4x: calc(var(--pd-unit) * 4);

  /* Colors */
  --cell-bg: #446084;
  --cell-border: #1b2a3d;
  --font-heading-color: hsl(65, 46%, 95%);
  --font-color: hsl(0, 0%, 15%);
  --btn-action: hsl(120, 26%, 35%);
  --btn-danger: hsl(0, 43%, 48%);

  /* text/font classes */
  --text-sm: 12px;
  --text-imp: 14px;
  --text-heading: 16px;
  --font-wt: 400;
  --font-heading-wt: 600;

  /* Input values */
  --text-input-padding: var(--pd-2x);
  --text-input-size: var(--text-imp);
}
* {
  margin: 0;
  padding: 0;
  color: var(--font-color);
}
.bid-form {
  display: table;
  padding: var(--pd-2x);
  text-align: center;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
}
.form-table {
  display: table-row;
}

label,
input {
  display: table-cell;
  width: 100%;
}
input {
  margin-bottom: var(--mg-2x);
  padding: var(--pd-1x);
}

button {
  background-color: var(--btn-action);
}
